    <section class="head-under head-under-main-hero1">
      <div>
        <div class="head-under-main-txt">
          <h4>Orange Review - Edition 1</h4>
          <h1><%= @post.title %></h1>
          <h6 class="date-comments">
            <%= @post.created_at.strftime("Created on %m/%d/%Y")%>
            <a href="#">3 Comments</a>
          </h6>
        </div>
        <div class="button-hash-container">
          <% @post.tags.each do |tag|  %>
            <button class="button-hash">#<%= tag.name%></button>
          <% end %>

        </div>
      </div>
    </section>
    <section class="intro">
      <div class="intro-txt-container">
        <h2>By <%= @post.authors.first.name%></h2>
      </div>
    </section>
    <section class="p">
        <div class="p-icon">
          <p><span><%= @post.body.slice(0,5)%></span>
          <%= @post.body.slice(6..-1) %></p>

        </div>
    </section>